/* *{
    overflow: hidden;

} */
*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
/* -------------------------- */

/* -------------------------------------- */
.nav{
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px;
}
.nav a{
    text-decoration: none;
    font-size: 17px;
    margin: 0px 0px;
    padding: 30px 14px;
    transition:all 1s ease-in-out;
}
.nav a:hover{
    background:#e0e0e0;
}
.nav img{
    height:5em;
}
.right {
    padding: 23px;
}
/* -------------------------------------------- */
#log:hover{
    cursor: pointer;
    color:red;
}
.log{
    font-size: 15px;
    border: solid black 3px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width:27%;
}
h2{
   font-size: 35px;
}

#g,#t,#f{
    
    height: 44px;
    width: 44px;
    margin: 5px;
    transition:all 100ms ease-in;
}



ul{
    list-style: none; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#r{
    font-size: 20px;
    align-self:baseline;

}
#p{
    cursor: pointer;
}
#log{
    font-size: 15px;
}
#c:hover{
    color:rgb(25, 130, 243);
    cursor: pointer;

}
ol li{
    list-style-type:none ;
}
img#t:hover {
    transform: scale(1.1);
    padding: 3px;
    background: #a9aff1;
    border-radius: 51%;
}
#n:hover{
    color:rgb(25, 130, 243);
}
img#f:hover {
    transform: scale(1.1);
    padding: 3px;
    background: #b4d1f8;
    border-radius: 51%;
}
img#g:hover {
    transform: scale(1.1);
    padding: 3px;
    background: #f2dddc;
    border-radius: 51%;
}
/* -------------------------------------------- */
/* .alert1 {
    position: absolute;
    top: 102px;
    right: 1%;
    font-size: larger;
    padding: 6px 7px;
    background: #ffffffcc;
    border-right: solid 9px #e72020;
    opacity: 0;
    transition: all 1s ease;
}
h3 {
    margin:0px;
}
@keyframes appear{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
} */